@model CRUDapp.Models.Contact

@{
    ViewData["Title"] = "Delete contact";
}

<div class="modal fade" id="delete-contact" tabindex="-1" role="dialog" aria-labelledby="deleteContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="card">
                <div class="modal-header">
                    <h1>@ViewData["Title"]</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <hr />
                </div>

                <div class="modal-body">
                    <h4 class="text-danger text-xs-center">
                        Are you sure you want to delete this?
                    </h4>
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ID)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ID)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Phone)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Phone)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Domain)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Domain)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Notes)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Notes)
                        </dd>
                    </dl>
                </div>

                <div class="modal-footer">
                    <form asp-action="Delete">
                        <button type="button" class="btn btn-danger" data-save="modal">Delete</button>
                        <a asp-action="Index" class="btn btn-outline-secondary">Back to the list of contacts</a>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>